name = "edge-commit-demo-v1"
description = "edge-commit blueprint"
version = "0.0.1"
modules = []
groups = []
distro = ""

[[packages]]
name = "tree"
version = "*"

[[packages]]
name = "git"
version = "*"

[[packages]]
name = "ansible-core"
version = "*"

[[packages]]
name = "podman"
version = "*"

[[packages]]
name = "insights-client"
version = "*"

[[packages]]
name = "cockpit"
version = "*"

[[packages]]
name = "cockpit-podman"
version = "*"

[[packages]]
name = "cockpit-pcp"
version = "*"

[[packages]]
name = "pcp-zeroconf"
version = "*"

[[packages]]
name = "cyrus-sasl-lib"
version = "*"

[[packages]]
name = "cyrus-sasl-scram"
version = "*"

[customizations]

[[customizations.sshkey]]
user = "root"
key = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDS/2i2dSaDtLsE3GMVWoPoG2W1Z3/20IboirqVb9XWyvmyU7ESW01rRlaBx9jXvpmhoLYeFQrNGMfCvkUoXpMArE+CkA1ZZxVkiEe+tdoRYti5F1+s+j5Z/AfaACQU3sKr1z3sg3ZpJNUCBFTfCy7LQubV++wIKsWaDUV0KdeXIPCRF9gUKtmvWgg1Z154cNt5KqO0U4RpSu/UvopROOmL9K1z98yS+ix+n5jiaqsL2cu+SmwvgyDVw7u2d2qQdG2QECH1OHM8RbKUXCJNgZBZc7w7YnWWfEseqE/5YES/ACqRSPplG85uJLrY+mwpYFp2vtb70HHxq0Kg9MUyDnrJ karlost@wlan-180-131.mxp.redhat.com"

[[customizations.user]]
name = "admin"
description = "Admin user"
password = "$6$R1UqPt2qW/HVaZav$HaAaXq76STAv/FIX3VdfA3Hv238JmHGCuA3Ml9Xm5Th67P/bZf8tXNARVCWrafDsqh3XNrADwTLgCcvyuKWV71"
key = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDS/2i2dSaDtLsE3GMVWoPoG2W1Z3/20IboirqVb9XWyvmyU7ESW01rRlaBx9jXvpmhoLYeFQrNGMfCvkUoXpMArE+CkA1ZZxVkiEe+tdoRYti5F1+s+j5Z/AfaACQU3sKr1z3sg3ZpJNUCBFTfCy7LQubV++wIKsWaDUV0KdeXIPCRF9gUKtmvWgg1Z154cNt5KqO0U4RpSu/UvopROOmL9K1z98yS+ix+n5jiaqsL2cu+SmwvgyDVw7u2d2qQdG2QECH1OHM8RbKUXCJNgZBZc7w7YnWWfEseqE/5YES/ACqRSPplG85uJLrY+mwpYFp2vtb70HHxq0Kg9MUyDnrJ karlost@wlan-180-131.mxp.redhat.com"
home = "/home/admin/"
shell = "/usr/bin/bash"
groups = ["users", "wheel"]
